html {
    scroll-behavior: smooth;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.cardMenu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
    margin-left: 55em;
}


/* display grid så vi gjør card1 til et gridsystem. columns for
  å bestemme bredden av korte og rows for å bestemme høyden for vært område
  så bilde blir 210px høyt, textområdet blir 210px osv. vi navngir områdene med
  grid-template-areas */

.card {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 20px 20px 20px;
    background-color: #808080;
    border-radius: 18px;
    text-align: center;
    transition: 0.5s ease;
    margin: 3em;
    color: white;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#opg1 {
    top: 1800px;
    width: 100%;
    height: 10%;
    position: absolute;
}

button {
    background-color: darkgray;
    font-size: 18px;
    font-family: monospace;
}

#time {}