.bodys1 {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 1.3em;
    font-family: 'Asap', sans-serif;
}


/* setter bakgrunnen et lag lenger bak med z-index,
    slik at navbaren fortsatt fungerer */

.homeBackground {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}


/* lagde et pseudo element slik at jeg kunne styre
         opacity på bilde uten å påvirke all teksten og logoen 
         viktig at psuedo elementet er like stort som den originale*/

.homeBackground::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-position: top center;
    opacity: 0.3;
    margin-top: -500px;
}

.cardMenu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
    margin-left: 55em;
}


/* display grid så vi gjør card1 til et gridsystem. columns for
  å bestemme bredden av korte og rows for å bestemme høyden for vært område
  så bilde blir 210px høyt, textområdet blir 210px osv. vi navngir områdene med
  grid-template-areas */

.card {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "color";
    background-color: #808080;
    border-radius: 18px;
    text-align: center;
    transition: 0.5s ease;
    margin: 3em;
    color: white;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.cardcolor {
    grid-area: color;
    background-color: #222222;
    border-bottom-left-radius: 50;
    border-bottom-right-radius: 50px;
}

#opg1 {
    top: 1800px;
    width: 100%;
    height: 10%;
    position: absolute;
}

button {
    background-color: darkgray;
    font-size: 18px;
    font-family: monospace;
}