html {
    scroll-behavior: smooth;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#sec-1 {
    background-color: whitesmoke;
}

#sec-2 {
    background-color: white;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after {
    top: 30%;
    animation-delay: .3s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}

.cardMenu {
    display: flex;
    justify-content: space-evenly;
}


/* display grid så vi gjør card1 til et gridsystem. columns for
  å bestemme bredden av korte og rows for å bestemme høyden for vært område
  så bilde blir 210px høyt, textområdet blir 210px osv. vi navngir områdene med
  grid-template-areas */

.card {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 190px 170px 100px;
    grid-template-areas: "image" "text" "color";
    background-color: #808080;
    border-radius: 18px;
    text-align: center;
    transition: 0.5s ease;
    margin: 1em;
    color: white;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.cardImg {
    grid-area: image;
    background: url("./IMG/gaming.jpg");
    background-size: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.cardImg2 {
    grid-area: image;
    background: url("./IMG/IMA.jpg");
    background-size: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.cardImg3 {
    grid-area: image;
    background: url("./IMG/IMC.jpg");
    background-size: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.cardImg4 {
    grid-area: image;
    background: url("./IMG/secretroom.jpg");
    background-size: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.cardText {
    grid-area: text;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

.cardText h2 {
    font-family: "Rajdhani", sans-serif;
}

.cardcolor {
    grid-area: color;
    background-color: #222222;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: lightgray;
    width: 450px;
    height: 450px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active.overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}